<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600562295208-f5hact7m4lhbjddtncq7hs4lcb4ejqju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600562295208-f5hact7m4lhbjddtncq7hs4lcb4ejqju</string>
	<key>API_KEY</key>
	<string>AIzaSyDgvYW4q3httME2in6qgD-_OT-qSUL6XnM</string>
	<key>GCM_SENDER_ID</key>
	<string>600562295208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rootcodelabs.native.example.Realestate</string>
	<key>PROJECT_ID</key>
	<string>realstatedb-2adc9</string>
	<key>STORAGE_BUCKET</key>
	<string>realstatedb-2adc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600562295208:ios:81e40ecf0127186b</string>
	<key>DATABASE_URL</key>
	<string>https://realstatedb-2adc9.firebaseio.com</string>
</dict>
</plist>